<mat-toolbar>
  <button matButton="elevated" (click)="navigateToRandomCocktail()">
    <mat-icon>casino</mat-icon>
    Random
  </button>
  <span class="flex-auto"></span>
  <button matButton [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="es"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <mat-icon svgIcon="en"></mat-icon>
      English
    </button>
    <button mat-menu-item (click)="changeLanguage('es')">
      <mat-icon svgIcon="es"></mat-icon>
      Español
    </button>
  </mat-menu>
</mat-toolbar>
<div class="p-4">
  <router-outlet />
</div>